[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle
[submodule "vim/bundle/VimCalc"]
	path = vim/bundle/VimCalc
	url = git://github.com/gregsexton/VimCalc
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "vim/bundle/ctrlp-funky"]
	path = vim/bundle/ctrlp-funky
	url = git://github.com/tacahiroy/ctrlp-funky
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/accelerated-smooth-scroll"]
	path = vim/bundle/accelerated-smooth-scroll
	url = git://github.com/yonchu/accelerated-smooth-scroll
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = git://github.com/mhinz/vim-signify
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim
[submodule "vim/bundle/vimfiler.vim"]
	path = vim/bundle/vimfiler.vim
	url = git://github.com/Shougo/vimfiler.vim
[submodule "vim/bundle/vimshell.vim"]
	path = vim/bundle/vimshell.vim
	url = git://github.com/Shougo/vimshell.vim
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim
[submodule "vim/bundle/vim-space"]
	path = vim/bundle/vim-space
	url = git://github.com/spiiph/vim-space
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox
[submodule "vim/bundle/colorv.vim"]
	path = vim/bundle/colorv.vim
	url = git://github.com/Rykka/colorv.vim
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = git://github.com/gregsexton/MatchTag
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = git://github.com/mhinz/vim-startify
[submodule "vim/bundle/vim-autocomplpop"]
	path = vim/bundle/vim-autocomplpop
	url = git://github.com/othree/vim-autocomplpop
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git://github.com/leshill/vim-json
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete
[submodule "vim/bundle/phpcomplete.vim"]
	path = vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat
